.showcase {
  background-color: #FFF;

  .card--case-container-info {
    padding: 1.12rem;
  }

  .container, .col-12, .card-body, &__company-cases .card.card--case-study {
    padding: 0;
  }

  &__company-cases .card.card--case-study .card-body {
    min-height: 96px;
  }

  &__company-cases {
    margin-bottom: 60px;
  }

  &__hero-section {
    margin: 70px 0;

    h1 {
      color: #000;
      font-size: 3.2rem;
      margin-bottom: 12px;
    }

    span {
      color: #3E89F5;
    }
  }

  &__learn-more-section {
    padding: 40px 0;

    h2 {
      font-size: 2.5rem;
      margin: 0 0 25px 0;
    }

    a {
      display: block;
    }

    .btn.btn-cta {
      margin: 0 auto 30px;
      padding: 0.4rem 1.5rem;
      width: 160px;
    }
  }

  &__more-company-cases {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 60px;
      text-align: center;
    }
  }

  &__section {

    .card-body {
      padding: 0;
    }
  }

  &__carousel {
    $carousel-animation-in-duration: .8s;
    $carousel-animation-out-duration: .6s;
    $carousel-animation-ease: ease-in-out;
    $carousel-animation-fill-mode: both;

    @include reset-carousel-animation;

    &__slide {
      min-height: 75vh;
      padding: 40px 0;
      position: relative;
      @include media-breakpoint-up(md) {
        min-height: 640px;
        padding: 80px 0;
      }

      .card {
        h3 {
          margin-top: 0;
        }
      }

      &__background {
        background-position: center center;
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &.active:not(.transition-out) {
        .showcase__carousel__slide__background {
          animation: $carousel-animation-in-duration $carousel-animation-ease $carousel-animation-fill-mode carousel-background-in;
        }
        .card {
          animation: $carousel-animation-in-duration $carousel-animation-ease $carousel-animation-fill-mode carousel-card-in;
        }
      }

      &.active.transition-out {
        .showcase__carousel__slide__background {
          animation: $carousel-animation-in-duration $carousel-animation-ease $carousel-animation-fill-mode carousel-background-out;
        }
        .card {
          animation: $carousel-animation-in-duration $carousel-animation-ease $carousel-animation-fill-mode carousel-card-out;
        }
      }
    }
  }
}

@keyframes carousel-card-in {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes carousel-card-out {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

@keyframes carousel-background-in {
  0% { opacity: 0; transform: scale(1.05); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes carousel-background-out{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
