.showcase {
  background-color: $site-color-white;

  &__card {
    padding: 0 20px;

    @include media-breakpoint-up(md) {
      padding: 0 12px;
    }
  }

  &__company-cases .card.card--case-study,
  &__more-company-cases .card.card--case-study {
    padding: 0;
  }

  .card--case-container-info {
    padding: 1.12rem;
  }

  .carousel__thumbnail_image {
    height: 100%;
    max-height: 300px;
    max-width: 550px;
    min-width: 300px;
    min-height: 280px;
    position: relative;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .carousel__watch-video_link {
    background: $blue-600;
    bottom: 0;
    color: $site-color-white;
    position: absolute;
  }

  &__carousel {
    $carousel-animation-in-duration: .8s;
    $carousel-animation-out-duration: .6s;
    $carousel-animation-ease: ease-in-out;
    $carousel-animation-fill-mode: both;

    h2 {
      margin-bottom: 70px;
    }

    @include reset-carousel-animation;

    .carousel-indicators {
      li {
        border-radius: 50%;
        height: 8px;
        width: 8px;
      }

      .active {
        background-color: $blue-600;
      }
    }

    .carousel-control-next, .carousel-control-prev {
      width: 4%;
    }

    &__slide {
      background-color: #232C33;
      color: $site-color-white;
      min-height: 75vh;
      padding: 40px 0;
      position: relative;
      @include media-breakpoint-up(md) {
        min-height: 620px;
        padding: 80px 0;
      }

      h2 {
        font-size: 1.3rem;
      }

      .container {
        q {
          font-size: 1.9rem;
          margin-bottom: 20px;
        }

        p {
          font-size: 1.1rem;
          margin: 0;
        }

        p:nth-child(3) {
          color: $blue-600;
        }

        .row {
          div:nth-child(2) {
            padding: 0;
          }
        }
      }

      .card {
        h3 {
          margin-top: 0;
        }
      }

      &__background {
        background-position: center center;
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &.active:not(.transition-out) {
        .showcase__carousel__slide__background {
          animation: $carousel-animation-in-duration $carousel-animation-ease $carousel-animation-fill-mode carousel-background-in;
        }
        .card {
          animation: $carousel-animation-in-duration $carousel-animation-ease $carousel-animation-fill-mode carousel-card-in;
        }
      }

      &.active.transition-out {
        .showcase__carousel__slide__background {
          animation: $carousel-animation-in-duration $carousel-animation-ease $carousel-animation-fill-mode carousel-background-out;
        }
        .card {
          animation: $carousel-animation-in-duration $carousel-animation-ease $carousel-animation-fill-mode carousel-card-out;
        }
      }
    }
  }

  &__company-cases {
    margin-bottom: 60px;
  }

  &__company-cases .card.card--case-study .card-body {
    min-height: 96px;
  }

  &__hero-section {
    margin: 70px 0;

    h1 {
      color: $site-color-black;
      font-size: 3.2rem;
      margin-bottom: 12px;
    }

    span {
      color: $blue-600;
    }
  }

  &__learn-more-section {
    a {
      margin-bottom: 50px;
    }

    h2 {
      font-size: 2.5rem;
      margin: 50px 0 25px 0;
    }

    .btn.btn-cta {
      margin: 0 auto 30px;
      min-width: 170px;
      padding: 0.6rem 1.5rem;
      width: 170px;
    }
  }

  &__more-company-cases {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 60px;
      text-align: center;
    }

    .card-body + a {
      margin: 50px 0;
    }
  }

  &__more-company-cases .card.card--case-study .card-body {
    min-height: 144px;
  }

  &__section {
    padding: 0;

    .card-body {
      padding: 0;
    }
  }
}

@keyframes carousel-card-in {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes carousel-card-out {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

@keyframes carousel-background-in {
  0% { opacity: 0; transform: scale(1.05); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes carousel-background-out{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
