.subscribe {
  $required-input-color: #C53929;
  color: $site-color-paragraph;

  &-container {
    margin: 0 auto;
    padding: 80px 0 0 0;
    $subscribe-background-color: #E1EAF2;

    .heading {
      color: $site-color-title;
      font-size: 32px;
      letter-spacing: -0.4px;
      margin-bottom: 16px;
      text-align: center;
    }

    .subheading {
      margin-bottom: 40px;
      text-align: center;
    }

    &__form {
      background-color: $subscribe-background-color;
      border-radius: 4px;
      margin: 0 -25px;
      padding: 40px 25px 80px;

      .subscribe-input {
        height: 48px;
      }

      .subscribe-select {
        display: block;
        height: 36px;
        font-size: 14px;
        max-width: 242px;
        text-transform: uppercase;
      }

      .subscribe-input, .subscribe-select {
        border-color: #D8D8D8;
        color: $site-color-paragraph;
      }

      .subscribe-checkbox {
        margin-right: 5px;
      }

      .field-required {
        color: $required-input-color;
      }

      .form-group {
        margin-bottom: 32px;
      }

      .form-label {
        font-family: "Google Sans", "Roboto", sans-serif;
        margin-bottom: 12px;
      }

      .form-label-tos {
        margin-bottom: 20px;
      }

      .tos-paragraph {
        font-size: 14px;
        margin-bottom: 20px;
      }

      .invalid-field-text {
        color: $required-input-color;
        display: none;
        font-size: 14px;
        margin-top: 8px;
      }

      .invalid-field ~ .invalid-field-text {
        display: block;
      }

      .form-label-tos + .invalid-field-text {
        margin: -12px 0 20px 0;
      }

      .form-submit-button {
        height: 45px;
        width: 190px;
      }

      .form-submit-button__disabled {
        background-color: #C6C6C5;
        border: none;
        color: $site-color-white;
      }

      @include media-breakpoint-up(md) {
        background-image: asset_url('subscribe/bg_geo.svg');
        background-position: bottom right, top 60px right 80px;
        background-repeat: no-repeat;
        background-size: auto, 140px;
        margin: 0 0 120px;
        padding: 60px 40px 165px;
      }

      @include media-breakpoint-up(lg) {
        background-image: asset_url('subscribe/bg_geo.svg'), asset_url('subscribe/flutter_logo.svg');
        padding-bottom: 160px;
      }
    }

    @include media-breakpoint-up(md) {
      .heading {
        font-size: 48px;
        letter-spacing: -0.6px;
      }

      .subheading {
        margin-bottom: 60px;
      }
    }
  }
}
