.updates {
  &-container {
    margin: 0 auto;
    padding: 100px 0;

    .heading {
      margin-bottom: 20px;
      text-align: center;
    }

    .subheading {
      margin-bottom: 50px;
      text-align: center;
    }

    &__form {
      background-color: #E3EAF1;
      padding: 60px 50px;

      .consent-legend {
        font-size: 16px;
        padding: 0;
      }

      .field-required {
        color: red;
      }
    }
  }
}
