---
title: Showcase
layout: landing
body_class: landing-page showcase
---

<section class="showcase__hero-section showcase__section text-center ">
    <h1>Apps take flight with <span>Flutter.</span></h1>
    <p>See how developers have used Flutter to make beautiful cross-platform apps.</p>
</section>

<section class="showcase__company-cases showcase__section">
    <div class="row">
        {% for case in site.data.showcases_redesign %}
        {% if case.featured %}
        <div class="{% if forloop.index0 < 2 %}col-lg-6 {% else %}col-lg-4  {% endif %}col-md-12 col-sm-12 showcase__card">
            <div class="card card--case-study">
                <div>
                    {% asset 'homepage/news-2.png' class='w-100' %}
                </div>
                <div class="card--case-container-info">
                    <div class="card-header">
                        {% if case.logo_src %}
                        {% asset '{{ case.logo_src }}' class='landing-page__case-studies__logo' %}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p>{{ case.description }}</p>
                    </div>
                    <div class="card-footer card-footer--transparent card-footer--links">
                        {% if case.learn_more_link %}<a href="{{ case.learn_more_link }}">{{ case.learn_more_cta }}</a>{% endif %}
                        {% if case.play_store_link or case.app_store_link %}
                        <span class="dropdown">
                        <a href="#" class="dropdown-toggle" id="moreShowcasesDropdownMenuButton{{ forloop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Download
                        </a>
                        <div class="dropdown-menu" aria-labelledby="moreShowcasesDropdownMenuButton{{ forloop.index }}">
                            {% if case.play_store_link %}<a class="dropdown-item" href="{{ case.play_store_link }}" target="_blank" rel="noopener">Android</a>{% endif %}
                            {% if case.app_store_link %}<a class="dropdown-item" href="{{ case.app_store_link }}" target="_blank" rel="noopener">iOS</a>{% endif %}
                        </div>
                    </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

<section class="showcase__company-logos showcase__section">
    <p class="text-center">Join the growing list of organizations building beautiful apps with Flutter.</p>
    <div class="">
        <ul class="d-flex justify-content-md-center flex-wrap align-content-stretch">
            {% for logo in site.data.company_logos %}
            <li class="align-items-center d-flex col-6 col-md-4 {% if forloop.index0 < 4 %}col-lg-3{% else %} col-lg-2 {% endif %} justify-content-center">
                {% asset '{{ logo.logo_src }}' class='landing-page__case-studies__logo' %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section id="showcaseCarousel" class="landing-page__hero showcase__carousel carousel slide" data-interval=8000 data-ride="carousel" data-pause="false">
    <ol class="carousel-indicators">
        {% for case in site.data.showcases_redesign %}
        {% if case.quote_testimonial %}
        {% capture loopCount %}{% increment showcaseCounter %}{% endcapture %}
        <li data-target="#showcaseCarousel" data-slide-to="{{ loopCount }}" {% if loopCount == '0' %}class="active"{% endif %}></li>
        {% endif %}
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for case in site.data.showcases_redesign %}
        {% if case.quote_testimonial %}
        <div class="showcase__carousel__slide carousel-item {% if forloop.first == true %}active{% endif %}">
            <div class="showcase__carousel__slide__background"></div>
            <div class="container">
                <h2 class="text-center">Learn from developers</h2>
                <div class="row">
                    <div class="col-lg-6 offset-lg-1 p-0 mb-10 order-lg-last">
                        <div class="carousel__thumbnail_image">
                            {% asset '{{ case.thumbnail_image }}' class='' %}
                            {% if case.video_id %}
                            <button class="btn btn-link btn-icon carousel__watch-video_link d-inline-flex" type="button" data-video="{{ case.video_id }}" data-toggle="modal" data-target="#videoModal">
                                <i class="material-icons">play_circle_filled</i> Watch the video
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-5 order-lg-first">
                        <q class="d-block">{{ case.quote }}</q>
                        <p><strong>{{ case.quote_writer }}</strong></p>
                        <p>{{ case.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <a class="carousel-control-prev d-none d-md-flex" href="#showcaseCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next d-none d-md-flex" href="#showcaseCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section class="showcase__more-company-cases showcase__section">
    <h2>More apps made with Flutter</h2>
    <div class="row">
        {% for case in site.data.showcases_redesign %}
        <div class="col-lg-3 col-md-6 col-sm-12 showcase__card">
            <div class="card card--case-study">
                <div>
                    {% asset 'homepage/news-2.png' class='w-100' %}
                </div>
                <div class="card--case-container-info">
                    <div class="card-header">
                        {% if case.logo_src %}
                        {% asset '{{ case.logo_src }}' class='landing-page__case-studies__logo' %}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p>{{ case.description }}</p>
                    </div>
                    <div class="card-footer card-footer--transparent card-footer--links">
                        {% if case.learn_more_link %}<a href="{{ case.learn_more_link }}">{{ case.learn_more_cta }}</a>{% endif %}
                        {% if case.play_store_link or case.app_store_link %}
                        <span class="dropdown">
                        <a href="#" class="dropdown-toggle" id="moreShowcasesDropdownMenuButton{{ forloop.index }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Download
                        </a>
                        <div class="dropdown-menu" aria-labelledby="moreShowcasesDropdownMenuButton{{ forloop.index }}">
                            {% if case.play_store_link %}<a class="dropdown-item" href="{{ case.play_store_link }}" target="_blank" rel="noopener">Android</a>{% endif %}
                            {% if case.app_store_link %}<a class="dropdown-item" href="{{ case.app_store_link }}" target="_blank" rel="noopener">iOS</a>{% endif %}
                        </div>
                    </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="d-block text-center" href="#">Explore more Flutter-powered apps</a>
</section>

<section class="border showcase__learn-more-section text-center ">
    <h2>Ready to take flight?</h2>
    <a class="btn btn-primary btn-cta d-block" href="/docs/get-started/install">Get Started</a>
    <a class="d-block" href="">Read documentation</a>
</section>

<div class="modal fade" data-video-modal id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="embedded-video-wrapper">
            <iframe id="video-player-iframe" class="embedded-video-wrapper__frame" width="auto" height="auto" src="https://www.youtube.com/embed/jtYk3gWRSw0?cc_lang_pref=en&cc_load_policy=1&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
